<h1>Listing user_proxies</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @user_proxies.each do |user_proxy| %>
  <tr>
    <td><%= link_to 'Show', user_proxy %></td>
    <td><%= link_to 'Edit', edit_user_proxy_path(user_proxy) %></td>
    <td><%= link_to 'Destroy', user_proxy, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User proxy', new_user_proxy_path %>
